/* -------------------------- Reset -------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

/* -------------------------- Body and main -------------------------- */

body {
    height: 100vh;

    background-image: url('../img/background-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Gloria Hallelujah';
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------- Title and container -------------------------- */

.container {
    margin-top: 20px;
}

.container,
.title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.turn {
    margin: auto;
    width: fit-content;
    font-size: 24px;
}

.turn-player.player-o,
.player-o {
    color: blue;
}

.turn-player,
.player-x {
    color: red;
}

/* -------------------------- Playboard -------------------------- */

.playboard {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vw;
    margin-top: 30px;

    transform: rotate(1deg);
}

.box {
    border: 1px solid black;
    width: calc(100%/3);
    height: calc(100%/3);
}

.playboard .box:nth-child(-n + 3) {
    border-top: none;
}

.playboard .box:nth-child(3n + 3) {
    border-right: none;
}

.playboard .box:nth-child(n + 7) {
    border-bottom: none;
}

.playboard .box:nth-child(3n+1) {
    border-left: none;
}

.restart {
    display: block;
    margin: 20px auto;
    padding: 8px;

    border: none;
    background-image: url('../img/texture_1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 26px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1), transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.restart:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

.cross {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

/* -------------------------- Cross and Circle -------------------------- */

.first-line,
.second-line {
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    background-color: red;
}

.first-line {
    transform: rotate(45deg);
}

.second-line {
    transform: rotate(315deg);
}

.circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.cycle {
    display: block;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 6px solid blue;
}

/* -------------------------- Modal -------------------------- */

.modal {
    display: flex;
    width: 90vw;
    height: 51vw;
    padding: 20px;
    align-items: center;
    justify-content: center;

    background-image: url('../img/winner-paper_mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal h2 {
    font-size: 38px;
    text-align: center;
}

/** -------------------------- Desktop -------------------------- */

@media screen and (min-width: 1024px) {
    body {
        background-image: url('../img/background-img.jpg');
    }

    .playboard {
        width: 30vw;
        height: 30vw;
    }

    .modal {
        display: flex;
        width: 30vw;
        height: 17vw;
        background-image: url('../img/winner-paper_desktop.png');
    }

    .playboard .box:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}