h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
    background-image: url('../1674383564_foni-club-p-fon-tetradnii-list-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gloria Hallelujah';
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin-top: 20px;
}

.container,
.title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.title {
    padding: 8px;
}

.turn {
    padding: 8px;

}

.playboard {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
    margin-top: 30px;
    transform: rotate(2deg);
}

.playboard .box:nth-child(-n + 3) {
    border-top: none;
}

.playboard .box:nth-child(3n + 3) {
    border-right: none;
}

.playboard .box:nth-child(n + 7) {
    border-bottom: none;
}

.playboard .box:nth-child(3n+1) {
    border-left: none;
}

.playboard .box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid black;
    width: calc(100%/3);
    height: calc(100%/3);
}

.turn {
    margin: auto;
    width: fit-content;
    font-size: 24px;
}

.restart {
    display: block;
    margin: 20px auto;
}

.cross {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.first-line,
.second-line {
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    background-color: red;
}


.first-line {
    transform: rotate(45deg);
}

.second-line {
    transform: rotate(315deg);
}

.circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.first-cycle {
    display: block;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 6px solid blue;
}

.restart {
    padding: 8px;
    border: none;
    background-image: url('../texture.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 26px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1), transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.restart:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

.modal {
    padding: 12px;
    background-image: url('../winner-paper.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vh;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.turn-player.player-o,
.player-o {
    color: blue;
}

.turn-player,
.player-x {
    color: red;
}